main {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-image: url('/src/Video/istockphoto-841403680-170667a.jpg');
  height: fit-content;
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 10px;
  padding-bottom: 30px;
  border: blue double ;
  border-radius: 20px;
  }

.button-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%px;
  }

.button-container button{
  background-color: rgba(0, 0, 0, 0.521);
  
  color: white;
  border: blue 1px dashed;
  height: 100%;
 
  width: 100%;


}
.button-container button:hover{
  background-color: rgb(152, 152, 255);
  background-image: none;
}
.side-buttons {
  padding-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  margin: auto;
  height: 100%;
  width: 100%;
}