.stopWatch { 
background-color: blueviolet;
display: flex;
width: 50vh;
flex-direction: row-reverse;
margin: auto;
height: 15vh;
justify-content: center;
align-items: center;
}

.container{
display: flex;
flex-direction: row-reverse;
}

.number{
  font-size: 5vh;

}

.little{
  font-size: 3vh;
  align-self: flex-end;
}