.stopWatch { 
background-color: rgba(0, 0, 0, 0.555);
display: flex;
width: 100%;
flex-direction: row-reverse;
margin: auto;
height: 100%;
padding: 20px;
justify-content: center;
align-items: center;
border: solid blue 1px;
border-radius: 0;
color: rgb(152, 152, 255);
background-image: none;

}

.container{
display: flex;
flex-direction: row-reverse;
}

.number{
  font-size: 5vh;

}

.little{
  font-size: 3vh;
  align-self: flex-end;
}

